<html>
    <body>
        <div>
            <h2>Criando um Novo Produto </h2>

            <form action="/produtos/save" method="post">
            <div>
             Descrição do Produto <br/>  
            <input type="text" name="descricao"  />
            </div>

            <div>
                Preço <br/>  
               <input type="number" name="preco"  />
               </div>

               <div>
                Estoque <br/>  
               <input type="number" name="estoque" />
               </div>

               <div>
                Estoque Mínimo <br/>  
               <input type="number" name="estMin"  />
               </div>

               <br> 
               <input type="submit" value="salvar"/>

            </form>


        </div>
    </body>
</html>