<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema IFCE-2024</title>
</head>
<body>
<form action="/login/do" method="post">
<div style="margin-left: 45%; margin-top: 15%" >
    <img  style="width: 250px" src="../static/logo.png" />
    <div style="margin-bottom: 10px; " >
       <input type="text"    required name="login" placeholder="Email" style="width: 300px; height: 20px;" />
    </div>
    <div>
       <input type="password" required name="password" placeholder="senha" style="width: 300px; height: 20px;"/>
    </div>
    <div style="margin-top: 10px; margin-left: 32%">
        <input type="submit" value="Entrar" />
    </div>
</div>
</form>
</body>
</html>